@color-1: #FAB932;
@color-2: #A78D65;
@color-3: #FFF8F0;
@color-4: #DFE0DF;

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    background-color: @color-1;
    height: 100%;

    &__list {
        list-style: none;
    }

    &__item {
        a {
            color: @color-2;
        }
    }
}
