@color-1: #FAB932;
@color-2: #A78D65;
@color-3: #FFF8F0;
@color-4: #DFE0DF;

.modal-component {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;

    &__body {
        display: flex;
        flex-direction: column;
        background: @color-1;
        color: @color-3;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
