@color-1: #FAB932;
@color-2: #A78D65;
@color-3: #FFF8F0;
@color-4: #DFE0DF;

html, body, #root {
    width: 100%;
    height: 100%;
}

.app,
#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
